{% extends 'base.html' %}

{% block content %}
<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <!-- Container with consistent width -->
      <div class="w-full">
        <!-- Balance and Chart (Optional, You can remove or adjust based on your needs) -->
        <div class="text-center mb-6">
          <h1 class="mb-4 mt-1 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">
              {{ t.manage_subscriptions }}
            </span>
          </h1>
        </div>

        <!-- Buttons Section -->
        <div class="flex flex-wrap gap-4 items-center justify-center mt-4">
          <a href="{% url 'tracker:create_subscription' %}" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg px-6 py-3 text-center me-2 mb-2">
            {{ t.add_subscription }}
          </a>
          
        </div>
        <div class="flex flex-wrap gap-4 items-center justify-center mt-4">
          <div class="p-4 bg-gray-100 rounded-lg shadow-md">
              <h3 class="text-lg font-semibold">{{ t.total_daily_spend }}:</h3>
              <p class="text-xl font-bold">${{ daily_spend }}</p>
          </div>
          
          <div class="p-4 bg-gray-100 rounded-lg shadow-md">
              <h3 class="text-lg font-semibold">{{ t.total_weekly_spend }}:</h3>
              <p class="text-xl font-bold">${{ weekly_spend }}</p>
          </div>
      
          <div class="p-4 bg-gray-100 rounded-lg shadow-md">
              <h3 class="text-lg font-semibold">{{ t.total_monthly_spend }}:</h3>
              <p class="text-xl font-bold">${{ monthly_spend }}</p>
          </div>
      
          <div class="p-4 bg-gray-100 rounded-lg shadow-md">
              <h3 class="text-lg font-semibold">{{ t.total_expected_annual_spend }}:</h3>
              <p class="text-xl font-bold">${{ total_annual_spend }}</p>
          </div>
      </div>
      

        <!-- Subscription Table Section -->
        <div class="mt-6 flex justify-center sm:mt-8">
          {% if subscriptions %}
          <div class="overflow-x-auto">
            <table class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.name }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.description }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.category }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.amount }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.periodicity }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.start_date }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400">{{ t.status }}</th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 dark:text-gray-400"></th>
                </tr>
              </thead>
              <tbody>
                {% for subscription in subscriptions %}
                  <tr class="bg-white dark:bg-gray-900 {% if not subscription.is_active %}line-through text-gray-400 dark:text-gray-600{% endif %}">
                    <td class="px-6 py-4 text-sm font-medium text-gray-900 dark:text-white">{{ subscription.name }}</td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">{{ subscription.description }}</td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">{{ subscription.category }}</td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">${{ subscription.amount|floatformat:2 }}</td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">{{ subscription.periodicity }}</td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">{{ subscription.start_date|date:"Y-m-d" }}</td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">
                      {% if subscription.is_active %}
                        <span class="text-green-600 dark:text-green-400">{{ t.active }}</span>
                      {% else %}
                        <span class="text-red-600 dark:text-red-400">{{ t.inactive }}</span>
                      {% endif %}
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-400">
                      <a href="{% url 'tracker:edit_subscription' subscription.id %}" class="text-blue-600 dark:text-blue-400">{{ t.edit }}</a> |
                      <a href="{% url 'tracker:delete_subscription' subscription.id %}" class="text-red-600 dark:text-red-400">{{ t.delete }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
            <p>{{ t.no_subscriptions_available }}</p>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
