{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}XPense{% endblock %}</title>

    <!-- Link to Bootstrap CSS (CDN) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Custom CSS (if any) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Include any other CSS files -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
        <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
          <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-start items-center">

              <a href="{% url 'tracker:dashboard' %}" class="flex items-center justify-between mr-4">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">XPense</span>
              </a>

            </div>
            <div class="flex items-center lg:order-2">

              <!-- Apps -->
              <button
                type="button"
                data-dropdown-toggle="apps-dropdown"
                class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              >
                <span class="sr-only">{{ t.function_board }}</span>
                <!-- Icon -->
                <svg
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                  ></path>
                </svg>
              </button>
              <!-- Dropdown menu -->
              <div
                class="hidden overflow-hidden z-50 my-4 max-w-sm text-base list-none bg-white rounded divide-y divide-gray-100 shadow-lg dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
                id="apps-dropdown"
              >
                <div
                  class="block py-2 px-4 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-600 dark:text-gray-300"
                >
                  {{ t.apps }}
                </div>
                <div class="grid grid-cols-2 gap-4 p-4">
                  <!-- Create Team -->
                  <a
                    href="{% url 'user:create_team' %}"
                    class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
                  >
                    <i class="fas fa-users-cog mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400"></i>
                    <div class="text-sm text-gray-900 dark:text-white">{{ t.create_team }}</div>
                  </a>
                
                  <!-- Join Team -->
                  <a
                    href="{% url 'user:join_team' %}"
                    class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
                  >
                    <i class="fas fa-user-plus mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400"></i>
                    <div class="text-sm text-gray-900 dark:text-white">{{ t.join_team }}</div>
                  </a>
                
                  <!-- Create Subscription -->
                  <a
                    href="{% url 'tracker:create_subscription' %}"
                    class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
                  >
                    <i class="fas fa-credit-card mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400"></i>
                    <div class="text-sm text-gray-900 dark:text-white">{{ t.create_subscription }}</div>
                  </a>
                
                  <!-- View Subscriptions -->
                  <a
                    href="{% url 'tracker:user_subscriptions' %}"
                    class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
                  >
                    <i class="fas fa-list-alt mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400"></i>
                    <div class="text-sm text-gray-900 dark:text-white">{{ t.view_subscriptions }}</div>
                  </a>
                 <!-- Create Goal -->
                 <a
                    href="{% url 'tracker:create_goal' %}"
                    class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
                  >
                    <i class="fas fa-plus-circle mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400"></i>
                    <div class="text-sm text-gray-900 dark:text-white">{{ t.create_new_goal }}</div>
                  </a>                
                  <!-- View Goals -->
                  <a
                    href="{% url 'tracker:goals_progress' %}"
                    class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
                  >
                    <i class="fas fa-trophy mx-auto mb-1 w-7 h-7 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400"></i>
                    <div class="text-sm text-gray-900 dark:text-white">{{ t.view_goals }}</div>
                  </a>
                
 
                </div>
                
                
                
              </div>
              <button
                type="button"
                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                id="user-menu-button"
                aria-expanded="false"
                data-dropdown-toggle="dropdown"
              >
                <span class="sr-only">{{ t.open_user_menu }}</span>
                <img 
                src="{{ profile_picture }}" 
                alt="Profile Picture"
                class="w-12 h-12 rounded-full"
              />
              </button>
              <!-- Dropdown menu -->
              <div
                class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
                id="dropdown"
              >
              <div class="py-3 px-4">
                <span class="block text-sm font-semibold text-gray-900 dark:text-white">
                  {{ username }}
                </span>
                <span class="block text-sm text-gray-900 truncate dark:text-white">
                  {{ email }}
                </span>
              </div>
                <ul
                  class="py-1 text-gray-700 dark:text-gray-300"
                  aria-labelledby="dropdown"
                >
                  <li>
                    <a
                      href="{% url 'user:edit_profile' %}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                      >{{ t.my_profile }}</a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'user:change_password' %}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                      >{{ t.change_password }}</a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'tracker:integrated_position' %}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                      >{{ t.my_position }}</a
                    >
                  </li>
                </ul>
                <ul
                  class="py-1 text-gray-700 dark:text-gray-300"
                  aria-labelledby="dropdown"
                >
                  <li>
                    <a
                      href="{% url 'user:logout' %}"
                      class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >{{ t.sign_out }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
    
        <!-- Sidebar -->
        <main class="p-4 md:ml-64 h-auto pt-30 mt-30" style="background: radial-gradient(circle at 60% 40%, rgba(70, 194, 227, 0.45) 25%, transparent 26%), radial-gradient(circle at 40% 60%, rgba(70, 194, 227, 0.28) 25%, transparent 26%); background-size: 3em 3em; background-color: #ffffff;">
          <!-- Main Content Area -->
          <div class="container mt-4 pt-20" style="background-color: #ffffff; padding: 1rem;">
            {% block content %}{% endblock %}
          </div>

        </main>
        
        
        


    <!-- Footer -->
    <footer class="bg-light py-4 mt-4">
        <div class="container text-center">
            <p>&copy; 2024 Expense Tracker. All Rights Reserved.</p>
        </div>
    </footer>

    <!-- Link to Bootstrap JS (CDN) and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>


